.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 540px;
  margin-top: 50px;
}

.list-headline {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  font-size: 16px;
  color: rgb(25, 174, 25);
}

.list-headline p {
  justify-self: center;
}
.lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 16px;
  color: rgb(25, 174, 25);
  column-gap: 20px;
  width: 540px;
}

.lists p {
  justify-self: center;
}
